aiohttp==3.7.4.post0
aiohttp-cors==0.7.0
aioredis==1.3.1
alembic==1.4.1
altair==4.1.0
argon2-cffi==20.1.0
astor==0.8.1
async-generator==1.10
async-timeout==3.0.1
attrs==20.3.0
azure-core==1.16.0
azure-storage-blob==12.8.1
backcall==0.2.0
backports.zoneinfo==0.2.1
base58==2.1.0
beautifulsoup4==4.9.3
bleach==3.3.0
blessings==1.7
blinker==1.4
blis==0.7.4
Boruta==0.3
boto3==1.18.11
botocore==1.21.11
Bottleneck==1.3.2
branca==0.4.2
Brotli==1.0.9
bs4==0.0.1
cachetools==4.2.2
catalogue==1.0.0
catboost==0.26
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
charset-normalizer==2.0.2
click==7.1.2
cliff==3.8.0
cloudpickle==1.6.0
cmaes==0.8.2
cmd2==2.1.2
colorama==0.4.4
colorlog==5.0.1
colorlover==0.3.0
cramjam==2.3.2
cryptography==3.4.7
cufflinks==0.17.3
cycler==0.10.0
cymem==2.0.5
Cython==0.29.14
dash==1.21.0
dash-core-components==1.17.1
dash-cytoscape==0.3.0
dash-html-components==1.1.4
dash-table==4.12.0
databricks-cli==0.14.3
decorator==5.0.5
defusedxml==0.7.1
dill==0.3.4
docker==5.0.0
entrypoints==0.3
et-xmlfile==1.1.0
filelock==3.0.12
flasgger==0.9.5
Flask==1.1.2
Flask-Compress==1.10.1
folium==0.12.1
fsspec==2021.6.1
funcy==1.16
future==0.18.2
gensim==3.8.3
geographiclib==1.52
geopy==2.2.0
gevent==21.1.2
gitdb==4.0.7
GitPython==3.1.18
google-api-core==1.31.0
google-auth==1.33.0
google-auth-oauthlib==0.4.4
google-cloud-bigquery==2.21.0
google-cloud-bigquery-storage==2.6.0
google-cloud-core==1.7.1
google-cloud-storage==1.41.1
google-crc32c==1.1.2
google-resumable-media==1.3.1
googleapis-common-protos==1.53.0
gpustat==0.6.0
graphviz==0.17
greenlet==1.1.0
grpcio==1.38.1
hiredis==2.0.0
htmlmin==0.1.12
hyperopt==0.2.5
idna==3.2
ImageHash==4.2.1
imageio==2.9.0
imbalanced-learn==0.7.0
imblearn==0.0
importlib-metadata==3.10.0
interpret==0.2.4
interpret-core==0.2.6
ipykernel==5.5.3
ipython==7.22.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
isodate==0.6.0
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.3
jmespath==0.10.0
joblib==1.0.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions @ https://github.com/ipython-contrib/jupyter_contrib_nbextensions/tarball/master
jupyter-core==4.7.1
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
kiwisolver==1.3.1
kmodes==0.11.0
libcst==0.3.19
lightgbm==3.2.1
lime==0.2.0.1
llvmlite==0.36.0
lxml==4.6.3
Mako==1.1.4
MarkupSafe==1.1.1
matplotlib==3.4.1
missingno==0.4.2
mistune==0.8.4
mlflow==1.19.0
mlxtend==0.18.0
msgpack==1.0.2
msrest==0.6.21
multidict==5.1.0
multimethod==1.4
multiprocess==0.70.12.2
murmurhash==1.0.5
mypy-extensions==0.4.3
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.6.2
nltk==3.6.2
notebook==6.3.0
numba==0.53.1
numexpr==2.7.3
numpy==1.19.5
nvidia-ml-py3==7.352.0
oauthlib==3.1.1
opencensus==0.7.13
opencensus-context==0.1.2
openpyxl==3.0.7
optuna==2.8.0
packaging==20.9
pandas==1.2.3
pandas-gbq==0.15.0
pandas-profiling==3.0.0
pandocfilters==1.4.3
parso==0.8.2
pathos==0.2.8
patsy==0.5.1
pbr==5.6.0
phik==0.12.0
pickleshare==0.7.5
Pillow==8.2.0
plac==1.1.3
plotly==5.1.0
pox==0.3.0
ppft==1.6.6.4
preshed==3.0.5
prettytable==2.1.0
prometheus-client==0.10.0
prometheus-flask-exporter==0.18.2
prompt-toolkit==3.0.18
proto-plus==1.19.0
protobuf==3.17.3
psutil==5.8.0
py-spy==0.3.8
pyaml==20.4.0
pyarrow==4.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycaret==2.3.3
pycaret-nightly==2.3.3.dev1627519320
pycparser==2.20
pydantic==1.8.2
pydata-google-auth==1.2.0
pydeck==0.7.0
pyforest==1.1.0
Pygments==2.8.1
pyLDAvis==3.3.1
pynndescent==0.5.4
pyod==0.9.0
pyparsing==2.4.7
pyperclip==1.8.2
pyreadline==2.1
pyrsistent==0.17.3
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2021.1
PyWavelets==1.1.1
pywin32==227
pywinpty==0.5.7
PyYAML==5.4.1
pyzmq==22.0.3
qtconsole==5.0.3
QtPy==1.9.0
querystring-parser==1.2.4
ray==1.5.1
redis==3.5.3
regex==2021.7.6
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.7.2
rsconnect-python==1.5.1
s3transfer==0.5.0
SALib==0.0+none
scikit-image==0.18.2
scikit-learn==0.23.2
scikit-optimize==0.8.1
scikit-plot==0.3.7
scipy==1.5.4
seaborn==0.11.1
Send2Trash==1.5.0
shap==0.39.0
six==1.15.0
sklearn==0.0
skope-rules==1.0.1
slicer==0.0.7
smart-open==5.1.0
smmap==4.0.0
smote==0.1
soupsieve==2.2.1
spacy==2.3.7
SQLAlchemy==1.4.22
sqlparse==0.4.1
srsly==1.0.5
statsmodels==0.12.2
stevedore==3.3.0
streamlit==0.88.0
tabulate==0.8.9
tangled-up-in-unicode==0.1.0
tenacity==8.0.1
tensorboardX==2.4
terminado==0.9.4
testpath==0.4.4
textblob==0.15.3
thinc==7.4.5
threadpoolctl==2.2.0
thrift==0.13.0
tifffile==2021.7.30
toml==0.10.2
toolz==0.11.1
tornado==6.1
tqdm==4.61.2
traitlets==5.0.5
treeinterpreter==0.2.3
tune-sklearn==0.4.0
typing-extensions==3.7.4.3
typing-inspect==0.7.1
tzdata==2021.1
tzlocal==3.0
umap-learn==0.5.1
Unidecode==1.3.1
urllib3==1.26.6
validators==0.18.2
visions==0.7.1
waitress==2.0.0
wasabi==0.8.2
watchdog==2.1.5
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.1.0
Werkzeug==1.0.1
wget==3.2
widgetsnbextension==3.5.1
wordcloud==1.8.1
xgboost==1.4.2
yarl==1.6.3
yellowbrick==1.3.post1
zipp==3.4.1
zope.event==4.5.0
zope.interface==5.4.0
